<template name="createTask">

    <div id="content">
        {{> appNav}}
        <form id="form-create-task" class="form-horizontal" role="form" method="get" action="#">
            <div class="form-group" style="margin-bottom: 0;">
                <div class=" pull-right col-sm-offset-2 col-sm-10">
                    <button type="submit" id="addTask" class="btn btn-success btn-lg">Add task</button>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Description of Task</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="What's to be done?" />
                </div>
            </div>

            <div class="form-group">
            <label for="taskType" class="col-sm-2 control-label">Select Task Type</label>
            <div class="col-sm-10">
                <select class="form-control" style="width: 80%; margin-left: 10%;" id="taskType">
                    <option>Chores</option>
                    <option>Shopping</option>
                </select>
            </div>
                </div>

            <div class="form-group">
                <label for="mySubjects" class="col-sm-2 control-label">Assignees</label><br>
                <select class="roommate-list form-control" style="width: 80%; margin-left: 10%;" id="mySubjects" data-placeholder="Choose assignees" multiple="multiple">
                    {{#each getRoomMates}}
                    <option value="{{_id}}">{{profile.name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">

                <label class="col-sm-2 control-label" style="display: inline-block;">Repeating Task</label>
                <div class="toggle-button" style="float: right; margin-right: 10px;">
                    <button></button>
                </div>
                <div class="col-sm-10" id="frequency" style="display: none; margin-top: 15px;">
                    <select class="form-control" id="taskType">
                        <option>Everyday</option>
                        <option>Weekly</option>
                        <option>Monthly</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <label for="points" class="control-label">Points to be awarded</label>
                    <input type="number" class="col-sm-4 form-control" style="display: inline-block; width: auto;" id="points" placeholder="Enter Points..." />
                </div>
            </div>


                <div id="choresOption">
                <div class="form-group">
                    <label for="dueDate" class="col-sm-2 control-label">Due Date</label>
                    <div class="col-sm-10">
                        <div class="input-group date dob-datepicker">
                            <input name="dob" type="text" class="form-control" id="dueDate"
                                   placeholder="Enter due date" />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
                </div>

            <div id="shopOption" style="display: none">
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Enter nearby location" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label for="assistToggle" class="col-sm-2 control-label">
                            <input type="checkbox" style="text-align: center;" class="checkbox-inline" id="assistToggle" />
                            Nearby Assist</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>