<template name="reviewTasks">

	{{#HammerTouchArea gestureMap=reviewGestures}}

	<div id="content">
		{{> appNav}}

		<div class="container review-tasks">
			{{#if getTasksForReview}}
				<ul class="card-container">
					{{#each getTasksForReview}}
						<li data-id="{{_id}}" class="js-tinder-card tinder-card">
							<h4 class="text-center">{{description}}</h4>
							{{#if pictureForReview this.picturesForReview}}
								<img class="img-thumbnail" style="max-height: 250px;" src="{{this.picturesForReview}}" />
							{{/if}}
							<div class="tinder-swipe-actions btn-group btn-group-justified">
								<a class="swipe-left btn btn-danger">Nay!</a>
								<a class="swipe-right btn btn-success">Yay!</a>
							</div>
						</li>
					{{/each}}
					<li class="tinder-card">
						<h4 class="text-muted text-center">No pending Tasks for Review</h4>
						<h1 class="text-center">{{ > emoji ':tada:'}}</h1>
					</li>
				</ul>
            {{else}}
                <ul class="card-container">
                    <li class="tinder-card">
                        <h4 class="text-muted text-center">No pending Tasks for Review</h4>
                        <h1 class="text-center">{{ > emoji ':tada:'}}</h1>
                    </li>
                </ul>
			{{/if}}
		</div>

		{{> footer}}

	</div>

	{{/HammerTouchArea}}

</template>