<template name="reviewTasks">

	{{#HammerTouchArea gestureMap=reviewGestures}}

	<div id="content">
		{{> appNav}}

		<div class="container review-tasks">
			{{#if getTasksForReview}}
				<ul class="card-container">
					{{#each getTasksForReview}}
						<li class="tinder-card">
							<h4 class="text-center">{{description}}</h4>
							{{#if pictureForReview}}
								<img class="img-thumbnail" src="{{pictureForReview}}" />
							{{/if}}
							<div class="tinder-swipe-actions btn-group btn-group-justified">
								<a class="btn btn-danger">Nay!</a>
								<a class="btn btn-success">Yay!</a>
							</div>
						</li>
					{{/each}}
				</ul>
			{{/if}}
		</div>

		{{> footer}}

	</div>

	{{/HammerTouchArea}}

</template>