<template name="tasks">
	<h1>List of Tasks</h1>
    <div id = "taskList">
        <table class = "table">
            <thead class = "thead-inverse">
                <tr>
                    <th>no</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {{#each getTasks}}
                  <tr> <td>{{description}}</td> </tr>
                {{/each}}
            </tbody>
        </table>

        <ul>

        </ul>
    </div>
</template>