img.avatar {

	border-radius: 50%;
	border: 1px solid #666;

	&.small {
		width: 30px;
		height: 30px;
	}

	&.medium {
		width: 60px;
		height: 60px;
	}

	&.large {
		width: 90px;
		height: 90px;
	}
}

.camera-popup {

	img.photo-preview {
		max-width: 100%;
	}

}