.review-tasks {

	.card-container {
		padding-left: 0;
		height: 350px;
		overflow: hidden;
	}

	.tinder-card {
		list-style: none;
		display: block;
		height: 350px;
		background-color: #EEE;
		border-radius: 5px;
		padding: 5px;
	}
}