.toggle-button { background-color: white; margin: 5px 0; border-radius: 20px; border: 2px solid #D0D0D0; height: 24px; cursor: pointer; width: 50px; position: relative; display: inline-block; user-select: none; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; }
.toggle-button button { cursor: pointer; outline: 0; display:block; position: absolute; left: 0; top: 0; border-radius: 100%; width: 30px; height: 30px; background-color: white; float: left; margin: -3px 0 0 -3px; border: 2px solid #D0D0D0; transition: left 0.3s; }
.toggle-button-selected {
  background-color: #83B152   !important;
  border: 2px solid #7DA652   !important;
}
.toggle-button-selected button {
  left: 26px   !important;
  top: 0   !important;
  margin: 0   !important;
  border: none   !important;
  width: 24px   !important;
  height: 24px   !important;
  box-shadow: 0 0 4px rgba(0,0,0,0.1)   !important;
}
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}