<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<template name="appNav">

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{pathFor 'home'}}">
					RoomScore
					<small class="text-primary">- Tagline</small>
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{{#if currentUser}}
					<ul class="nav navbar-nav">
						<li class="{{isActiveRoute 'myProfile'}}">
							<a href="{{pathFor 'myProfile'}}">
								{{{currentUserGravatar}}} {{currentUserFullName}}
							</a>
						</li>
						<li class="{{isActiveRoute 'tasks'}}"><a href="{{pathFor 'tasks'}}"><i class="fa fa-tasks"></i> Tasks</a></li>
						<li class="{{isActiveRoute 'createTask'}}"><a href="{{pathFor 'createTask'}}"><i class="fa fa-plus"></i> Add a Task</a></li>
						<li><a href="{{pathFor 'logout'}}"><i class="fa fa-sign-out"></i> Logout</a></li>
					</ul>
				{{else}}
					<div class="account-button navbar-right">
						{{> atNavButton}}
					</div>
				{{/if}}
			</div>

		</div>
	</nav>

</template>
