<template name="footer">
	<div id="footer">
		<div class="col-sm-12 col-md-10 col-lg-10 my-center-block">
			<hr style="margin-bottom: 3px;">
			<footer>
				<!--<div class="pull-left">-->
					<!--<p class="text-muted">© {{ currentYear }} - RoomScore. All Rights Reserved.</p>-->
				<!--</div>-->
				<!--<ul class="pull-right footer-menu">-->
					<!--<li><a href="{{pathFor 'privacy'}}">Privacy</a></li>-->
					<!--<li><a href="{{pathFor 'termsOfUse'}}">Terms Of Use</a></li>-->
				<!--</ul>-->
                <div class="col-md-4 text-center">
                    <a href="{{pathFor 'createTask'}}" class="btn btn-default btn-lg" style="vertical-align: baseline" role="button"><i class="fa fa-plus"></i></a>
                </div>
			</footer>
		</div>
	</div>
</template>
